.projects-container {
  padding: 2rem;
}

.projects-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
  font-family: 'Castoro Titling', cursive;
  overflow: hidden; 
  border-right: .15em solid white; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation:
    typing 3.5s steps(40, end) forwards,
    blink-caret .75s step-end 4,
    hide-cursor 0.01s 1s forwards;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
  gap: 1px;
}

.project-item {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  position: relative;
  overflow: hidden;
   height: 300px; 
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-out;
}

.project-name {
  color: #141313;
  text-decoration: underline;
  text-decoration-color: rgb(5, 5, 5);
}

.project-item:hover .project-image-overlay {
  opacity: 1;
}

.project-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 211, 0, 0.9);
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #141313;
  opacity: 0;
  transition: opacity 0.3s ease-out;
    font-family: 'Castoro', serif;
}


.project-item {
  position: relative;
}

.project-item:hover .project-github {
  opacity: 1;
}

.project-github {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0.5rem;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.project-github:hover {
  cursor: pointer;
}



@media screen and (max-width: 768px) {
   .projects-container {
    margin-top: 90px;
  }

  .projects-grid {
    margin: 0 -5px;
  }

   .project-item {
    flex: 0 0 calc(50% - 10px);
    margin: 5px;
    height: 200px; 
  }
}

@media screen and (max-width: 480px) {
  .project-item {
    flex: 0 0 100%;
    margin: 10px 0;
    height: 150px; 
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}
/* Add the hide-cursor animation */
@keyframes hide-cursor {
  99% { border-color: white }
  100% { border-color: transparent }
}

