/* AboutPage.css */

.about-page {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: calc(100vh - 60px);
  padding-right: 200px; 
  padding-left: 100px; 
  color: white;
}

.about-title h1 {
  overflow: hidden; 
  border-right: .15em solid white; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  font-family: 'Castoro Titling', cursive;
  animation:
  typing 3.5s steps(40, end) forwards,
    blink-caret .75s step-end 4,
    hide-cursor 0.01s 3.5s forwards;
}

.about-image {
  border-radius: 50%;
  border: solid white;
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-right: 6rem;
}

.about-text {
  text-align: left;
  font-family: 'Castoro', serif;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .about-page {
    flex-direction: column;
    gap: 1rem;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

/* Add the hide-cursor animation */
@keyframes hide-cursor {
  to { border-color: transparent }
}
