/* src/components/Navbar.css */
.navbar {
  background-color: #101010;
  height: 100vh;
  padding: 6rem;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.7;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-bottom: 1rem;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: #ccc;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .navbar {
    height: auto;
    width: 100%;
    padding: 1rem;
  }

  .navbar ul {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .navbar li {
    margin-bottom: 0;
  }
}