/* Add this to your CSS */
.navbar {
  background-color: #101010;
  height: 100vh;
  padding: 5rem;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.7;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-bottom: 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-family: 'Castoro Titling', cursive;
}

.nav-link:hover {
  color: #ccc;
  color: rgba(255, 211, 0, 0.9)
}

.icon {
  font-size: 1rem; 
  margin-right: 0.8rem; 
}

.navbar .nav-links.collapsed {
  display: none;
}

.navbar-toggle {
  display: none;
  /* Add your desired styles for the button, e.g., background-color, border, etc. */
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .navbar {
    height: auto;
    width: 100%;
    padding: 1rem;
  }

  .navbar ul {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .navbar li {
    margin-bottom: 0;
  }

  .navbar-toggle {
    display: block;
    /* Add any additional styles for the button on smaller screens */
  }

  .nav-links.collapsed {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
  }
}
